export const CONFIG = {
    TOKEN: 'YOUR_API_KEY',
    DB: {
        HOSTNAME: 'HOSTNAME',
        USERNAME: 'orange',
        DATABASE: 'orangebot',
        PASSWORD: 'PASSWORD',
        FLUSH: false
    },
    COMMAND: {
        SPEAK: 'speak',
        SPEAKER_CONFIG: {
            ENABLE: true,
            SPEAKER_CONFIG: 'speaker-config',
            SPEAKER_CONFIG_SHORT: 'spcon'
        },
        DISCONNECT: 'discon',
    }
};
